

.area-inicial {
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: rgb(250, 249, 245);
  border-radius: 10px 10px;
  
}
.btn {
  background: rgb(250, 249, 245);
  padding: 5px 10px;
  border-radius: 50px 50px;
  color: rgb(8, 8, 8);
  cursor: 'pointer'

}

