.receita {
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: #fefaf7;
  border-radius: 10px 10px;
  opacity: 0.8;
}
.filtro {
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: #fefaf7;
  border-radius: 10px 10px;
  opacity: 0.8;

}
