
.receita{
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: rgb(248, 239, 214);
  border-radius: 10px 10px;
  
}
.filtro{
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: rgb(248, 239, 214);
  border-radius: 10px 10px;
}
