* {
  margin: 0;
}

body {
  background: url("../src/assets/fundo1.jpg");
}

.titulo {
  background-color: #fefaf7;
  width: 30%;
  margin: auto;
  font-size: large;
  padding: 10px;
  text-align: center;
  opacity: 0.8;
}

.area-inicial {
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: #fefaf7;
  border-radius: 10px 10px;
  opacity: 0.8;
}
