*{
  margin: 0;
}

body{
  background: url('../src/assets/fundo1.jpg');
}

.titulo{
  background-color: #FEFAF7;
  width: 30%;
  margin: auto;
  font-size: large;
  padding: 10px;
  text-align: center;
  
}

.area-inicial {
  text-align: center;
  padding: 5px;
  width: 30%;
  margin: auto;
  background-color: #FEFAF7;
  border-radius: 10px 10px;
}
